@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    @functions
    {

        TagBuilder CreateDivWrap(DynamicPlaceholderRenderContext context)
        {
            var tagBuilder = new TagBuilder("div");
            int[] widths = new int[] { 0, 12, 6, 4, 3 };
            tagBuilder.AddCssClass("col-sm-" + widths[context.PlaceholdersCount]);
            return tagBuilder;
        }

    }
}

<div class="row">
    @Html.Sitecore().DynamicPlaceholder("feature_spot", CreateDivWrap, 3, 4)
</div>
